@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/*....... genral input..............*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #376D8D;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.headerText {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
    color: white;
}

h3 {
    padding: 10px;
}

header {
    background-size: cover;
    background-color: #386870;
    margin-right: auto;
    margin-left: auto;
    height: 210px;
}

.logo {
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 5px;
}
header nav a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

header nav a:hover {
    font-size: 16px;
  }

li {
    padding-top: 15px;
    padding-bottom: 10px;
    display: inline-block;
}


ul {
    list-style-type: none;

}

.active {
    text-decoration: underline white;
}

.headerList {
    text-align: right;
    font-size: 15px;
}

.moodPhoto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;

}

main {
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
}

.spacersInBetween {
    background-color: #386770;
}

footer {
    background-size: cover;
    background-color: #001B52;
    text-align: center;
    width: 100%;
}

.allRightsReserved {
    color: white;
    text-align: center;
}

footer nav a {
    text-decoration: none;
    color: white;
}

footer nav ul> li {
    display: block;
    text-align: right;
    padding-right: 12%;
}

.footerList {
    text-align: left;
}

h5 {
    padding: 10px;
    text-align: center;
    color: white; 
    opacity: 0.7;   
}

.credits {
    color: white;
    opacity: 0.7;
}



/*.........Homepage.........*/

.column {
    padding: 0 12px;
}

.row {margin: 0 -5px;}


.card {
  padding: 8px;
  text-align: left;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); 
  background-color: #A3DDEA;
}

.viewbutton {
    background-color: #001B46;
    max-width: 80px;
    height: 50px;
    text-align: center;
    border-radius: 5%;
    margin-top: 50px;
    margin-right: 10px;
    padding: 2px;
    float: left;
}

.viewbutton > a {
    color: white;
    text-align: center;
    text-decoration: none;
}


/*...........About..........*/

.theThinkerAndMe {
    height: 100px;
    width: 100px;
    float: left;
}



/*.............CV............*/

.headersOnTopic {
    margin-bottom: 2px;

}

.icons {
    height: 50px;
    width: 50px;
    float: right;
    padding: 2px;
}

.lessonsLearned {
    margin-top: 0em;
}

label {
    background-color: lightgrey;
}
/*.........Contact............*/


/*.......Scaling-mob.........*/

@media only screen and (max-width: 620px) {

    /*....... genral input..............*/
    .moodPhoto {
        border-bottom: 5px solid #386770;
    } 

    .spacersInBetween {
        height: 10px;
        margin: 10px;
    }

    footer {
        border-top: 8px solid #386770;
        border-bottom: 20px solid #386770;
    }
    /*...........Homepage...............*/
    .column {
        width: 100%;
    }
    .container {
        display: flex;
        padding: 5px;
    }
    .platforms {
        height: 140px;
        width: 170px;
        float: right;
    }
    
    .future {
        height: 400px;
    }

    .futureText {
        padding-top: 70%;
        text-align: center;
    }

    .allRightsReserved {
        margin-top: 10px;
    }
    /*............About.................*/
    
    /*..............CV..................*/

    /*............Contact...............*/
}

/*........Scaling-tab........*/

@media only screen and (min-width: 620px) and (max-width: 900px) {

    /*....... genral input..............*/
    .moodPhoto {
        border-bottom: 8px solid #386870;
    }
    
    footer {
        border-top: 8px solid #386770;
        border-bottom: 20px solid #386770;
    }

    /*...........Homepage...............*/
    .column {
        width: 50%;
    }
    .platforms {
        height: 140px;
        width: 180px;
    }
    
    .allRightsReserved {
        margin-top: 10px;
    }
    /*............About.................*/
    
    /*..............CV..................*/

    /*............Contact...............*/


}


/*........scaling-desktop....*/
@media only screen and (min-width: 900px) {

    /*....... genral input..............*/
    .moodPhoto {
        border-bottom: 11px solid #386870;
    }
    
    /*...........Homepage...............*/
    .column {
        width: 100%;
    }
    /*............About.................*/
    
    /*..............CV..................*/

    /*............Contact...............*/
}